body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F9FAFB;
  }
  
  .App {
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button {
    background-color: #ccc;
  }
  
  .submit-button {
    background-color: #4F9DDE;
    color: white;
  }
  
  .delete-button {
    background-color: #FF5A5F;
    color: white;
  }
  
  .recommend-button {
    background-color: #00C6AE;
    color: white;
  }
  
  .star {
    font-size: 30px;
    cursor: pointer;
    color: #FFD700;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    z-index: 1000;
  }
  
  