.card-list-wrapper {
  width: 1300px; /* 카드 5개 x 227px + gap 고려 */
  margin: 40px auto 0; /* 상단 여백 + 가운데 정렬 */
  padding: 0 0; /* 좌우 내부 여백 */
  justify-content: center;
  padding-bottom: 70px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 카드 왼쪽 정렬 */
  gap: 40px; /* 카드 간 간격 */
  margin-top: 0px;
  padding-bottom: 10px;
}

.center-text {
  text-align: center;
  margin-top: 80px;
  font-size: 1.8rem;
  color: #555;
}

.no-results-text {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

/* no-results-wrapper가 화면 남은 영역을 모두 차지하도록 설정 */
.no-results-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;     /* 가로 중앙 */
  align-items: flex-end;       /* 세로 아래쪽에 가까운 위치 */
  min-height: 250px;           /* fallback 높이 (컨텐츠 짧을 때 대비) */
  padding-bottom: 120px;       /* Footer와 겹치지 않도록 공간 확보 */
}


.card {
  flex: 1 1 calc(20% - 40px); /* 5개씩 보이게 */
  max-width: 220px;
  min-width: 160px;
}

/*반응형 화면*/
@media (max-width: 1100px) {
  .card {
    flex: 1 1 calc(25% - 40px); /* 4개 */
  }
}

@media (max-width: 900px) {
  .card {
    flex: 1 1 calc(33.33% - 40px); /* 3개 */
  }
}

@media (max-width: 700px) {
  .card {
    flex: 1 1 calc(50% - 40px); /* 2개 */
  }
}

@media (max-width: 500px) {
  .card {
    flex: 1 1 100%; /* 1개씩 */
  }
}

